[push]
    default = simple
[credential]
    helper = cache
[user]
    name = Nicholas Dille
[includeif "hasconfig:remote.*.url:https://github.com/nicholasdille/**"]
    path = .gitconfig-private
[includeif "hasconfig:remote.*.url:https://gitlab.haufedev.systems/**"]
    path = .gitconfig-haufe