[user]
	email = nicholas.dille@haufe-lexware.com
	name = Nicholas Dille
	signingkey = CC5738F1C40FF308
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[commit]
	gpgsign = true
[core]
	editor = code --wait
